{
    "client": {
        "id": ""
    },
    "guild": {
        "id": ""
    },
    "activity": {
        "name": "tópicos dos canais 👀",
        "type": "WATCHING",
        "status": "online"
    }
}